@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #f4f4f4;
}

.content {
  max-width: 1300px;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 60px;
  background-color:rgb(227, 227, 250);
}

nav > div {
  flex: 1;
  display: flex;
  align-items: center;
}
nav > div > img {
  width: auto;
  height: 50px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  margin-right: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

nav > ul > li > a:hover {
  cursor: pointer;
  color: rgb(164, 164, 230);
}

.home {
  height: 100vh;
  width: 100%;
  margin-top: -60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home-slogan {
  height: 100px;
  width: 450px;
  background-color: rgb(245, 61, 61, 0.4);
  position: absolute;
  right: calc(50% - 225px);
  top: 150px;
  display: flex;
  align-items: center;
}

.home-slogan > p {
  color: #fff;
  font-size: 40px;
}

.active {
  color: rgb(17, 17, 240);
}

#menuContainer {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#menuContainer > div > h2 {
  font-size: 28px;
  margin-bottom: 2px;
}

#menuContainer > div > table {
  width: 500px;
  background-color: #ededed;
  border-collapse: collapse;
  border: 1px solid black;
}

#menuContainer > div > table > tr {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
}

#menuContainer > div > table > tr > td {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 2px;
}

#menuContainer > div > table > tr > td:nth-of-type(2) {
  justify-content: end;
  flex: 0.5;
}

.contactContainer {
  width: 440px;
  padding: 20px;
  background-color: rgb(158, 158, 235);
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.contactContainer > h2 {
  margin-bottom: 5px;
}

.contactContainer > p {
  margin-bottom: 30px;
}